raw_dir <- options()$temizhavaR.raw_dir

options(temizhavaR.YEAR = "2022")

setwd(raw_dir)

output_dir <- paste0(raw_dir, "__results/")
if (!dir.exists(output_dir))
  dir.create(output_dir)

result_pm10_hourly_excel_file <- paste0(output_dir, "results_PM10_hourly.xlsx")
result_pm10_daily_excel_file <- paste0(output_dir, "results_PM10_daily.xlsx")
result_pm25_hourly_excel_file <- paste0(output_dir, "results_PM25_hourly.xlsx")
result_pm25_daily_excel_file <- paste0(output_dir, "results_PM25_daily.xlsx")
result_so2_hourly_excel_file <- paste0(output_dir, "results_SO2_hourly.xlsx")
result_so2_daily_excel_file <- paste0(output_dir, "results_SO2_daily.xlsx")
result_o3_hourly_excel_file <- paste0(output_dir, "results_O3_hourly.xlsx")
result_o3_daily_excel_file <- paste0(output_dir, "results_O3_daily.xlsx")
result_nox_hourly_excel_file <- paste0(output_dir, "results_NOX_hourly.xlsx")
result_nox_daily_excel_file <- paste0(output_dir, "results_NOX_daily.xlsx")
result_no2_hourly_excel_file <- paste0(output_dir, "results_NO2_hourly.xlsx")
result_no2_daily_excel_file <- paste0(output_dir, "results_NO2_daily.xlsx")
result_co_hourly_excel_file <- paste0(output_dir, "results_CO_hourly.xlsx")
result_co_daily_excel_file <- paste0(output_dir, "results_CO_daily.xlsx")
